:root {
    --colorOne:#A07178;
    --colorTwo:#006C67;
    --colorThree:#8EF9F3;
    --colorFour: #1D1128;
    --colorFive: #214e34;
}

.main,.footer{
    background-color: silver;
}

.footer{
    border-top: 5px solid var(--colorFive);
}


#slotSection{
    margin-top: 10%;
    height: 450px;
    width: 950px;
    background-color: var(--colorTwo);
    /* display: flex; */
    /* justify-content: center; */
}

.game-state{
    font-size: 65px;
    color: white;
    font-weight: 900px;
    font-family: monospace;
}
/* REEL ONE OF THE SLOT  */
.symbol{
    /* margin-top: 55%; */
    font-size: 25px;
}

.reel-one{
    position: relative;
    border-right: 4px solid var(--colorOne);
}

.reel-one .symbol{
    position: absolute;
    top: 45%;
    left: 45%;
    
}

.reel-one .spin-img{
    position: absolute;
    /* display: none; */
    top: 15%;
    left: 0%;
}

/* REEL TWO OF THE SLOT */
.reel-two{
    position: relative;
    border-right: 4px solid var(--colorOne);
}

.reel-two .symbol{
    position: absolute;
    top: 45%;
    left: 45%;
}

.reel-two .spin-img{
    position: absolute;
    /* display: none; */
    top: 15%;
    left: 0%;
}
/* REEL THREE OF THE SLOT */

.reel-three{
    position: relative;
}

.reel-three .symbol{
    position: absolute;
    top: 45%;
    left: 45%;
}

.reel-three .spin-img{
    position: absolute;
    top: 15%;
    left: 0%;
    /* display: none; */
}

.symbol-img{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25%;
    left: 20%;
}

.symbol-card{
    margin-top: 20px;
}

.bgtest{
    background-color: var(--colorFive);
}

.total-cash, .white-text{
    font-size: 25px;
    color: white;
    font-family: monospace;
}